<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenID Connect Sample</title>
</head>
<body>
    <h1>Logout.</h1>
    
    {% for client in clients %}
        {% for url in client.post_logout_redirect_uris %}
            <iframe src="{{ url }}" frameborder="0" width="0" height="0"></iframe>
        {% endfor %}
    {% endfor %}
</body>
</html>